header h1 a,
header nav ul li a,
h4,
h3,
h2,
.contactArea ul li span {
  font-family: "Abril Fatface", cursive;
}
footer p,
footer > div > div:nth-of-type(4) input[type="email"],
p,
.mainArea div > a,
.vedioArea figure figcaption a,
.newsArea .leftContents ol li a,
.newsArea .rightContents fieldset input[type="search"],
.newsArea .rightContents div:last-of-type ul li a,
.newsArea .rightContents div h3,
.contactArea form fieldset label {
  font-family: "Mukta Mahee", sans-serif;
}
.hiddenTitle {
  display: none;
}
.container {
  position: relative;
  width: 100%;
  overflow-x: hidden;
}
.btn {
  border-width: 2px;
  border-style: solid;
  font-size: 15px;
  font-weight: 400;
  padding: 15px 2.56%;
  letter-spacing: 3.6px;
  border-radius: 8px;
}
body {
  animation: fadeIn 2000 ease-in-out;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* all using css */

@media screen and (min-width: 1280px) {
  .mainArea {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .mainArea div {
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
  }
  .mainArea div h2 {
    font-size: 80px;
    font-weight: bold;
    line-height: 80px;
    margin-bottom: 20px;
  }
  .mainArea div p {
    font-size: 30px;
    line-height: 45px;
    font-weight: 200;
  }
  .mainArea div p > a {
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.5);
    transition: color 0.5s;
  }
  .mainArea div p > a:hover {
    color: #fff;
  }
  .contentArea {
    max-width: 1140px;
    margin: 0 auto;
    padding: 130px 0;
  }
  *[class*="Area"] h2,
  *[class*="Area"] h3 {
    color: #000;
    font-weight: 500;
  }
  *[class*="Area"] p,
  .visitArea ul li > span {
    font-size: 18px;
    font-weight: 200;
    line-height: 32px;
    color: #6c757d;
  }
  *[class*="Area"] .lead {
    font-size: 20px;
    font-weight: 300;
    line-height: 36px;
    color: #6c757d;
  }
  *[class*="Area"] h2,
  *[class*="Area"] .lead {
    padding: 0 15%;
  }
  /* desktop all using css */

  header {
    position: absolute;
    padding: 65px 5%;
    width: 100%;
    z-index: 100;
    box-sizing: border-box;
  }
  header h1 {
    line-height: 42px;
    box-sizing: border-box;
    padding-right: 20%;
  }
  header h1 a {
    display: inline-block;
    font-size: 30px;
    color: #fff;
    font-weight: bold;
  }
  header div {
    position: absolute;
    right: 5%;
    top: 38%;
    z-index: 1000;
  }
  header div span {
    font-size: 40px;
    cursor: pointer;
  }
  header div span.fa-bars {
    color: #fff;
  }
  header div span.fa-times {
    color: #000;
  }
  header nav {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #fff;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.8s;
  }
  header nav.on {
    opacity: 1;
    pointer-events: all;
  }
  header nav ul {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding-top: 230px;
  }
  header nav ul li {
    display: block;
  }
  header nav ul li a {
    display: block;
    font-size: 40px;
    color: #000;
    line-height: 70px;
  }
  header nav ul li:hover a,
  header nav ul li.active a {
    color: #65c0ba;
  }
  /* header fin */

  footer {
    background-color: #1a1a1a;
  }
  footer .subtitle {
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 25px;
  }
  footer p,
  footer a {
    font-weight: 200;
    font-size: 18px;
    line-height: 32px;
    color: rgba(255, 255, 255, 0.7);
  }
  footer ul li {
    display: block;
    margin-bottom: 15px;
  }
  footer ul li:hover a {
    color: #fff;
  }
  footer > div:after {
    content: "";
    display: block;
    visibility: hidden;
    clear: both;
  }
  footer > div > div:not(:last-of-type) {
    float: left;
    width: 23.5%;
    margin-bottom: 90px;
  }
  footer > div > div:nth-of-type(2),
  footer > div > div:nth-of-type(3),
  footer > div > div:nth-of-type(4) {
    margin-left: 2%;
  }
  footer > div > div:nth-of-type(3) ul li p span {
    color: #fff;
    font-style: italic;
    display: block;
  }
  footer > div > div:nth-of-type(4) p {
    margin-bottom: 15px;
  }
  footer > div > div:nth-of-type(4) fieldset {
    border-bottom: solid rgba(255, 255, 255, 0.2);
  }
  footer > div > div:nth-of-type(4) fieldset:after {
    content: "";
    display: block;
    visibility: hidden;
    clear: both;
  }
  footer > div > div:nth-of-type(4) fieldset > * {
    display: float;
  }
  footer > div > div:nth-of-type(4) input[type="email"] {
    width: 75%;
    box-sizing: border-box;
    line-height: 50px;
    font-weight: 400;
    font-size: 16px;
    border: none;
    background-color: transparent;
    color: #fff;
    padding: 0 3%;
    outline: none;
  }
  footer > div > div:nth-of-type(4) input[type="email"]::placeholder {
    color: #6c757d;
    font-style: italic;
  }
  footer > div > div:nth-of-type(4) input[type="submit"] {
    width: 20%;
    text-indent: -9999px;
    border: none;
    padding: 2px 2px;
    background: transparent url("../images/btn_send1.png") no-repeat left center;
    line-height: 48px;
    box-sizing: border-box;
  }

  footer > div > div:last-of-type {
    padding-top: 45px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    clear: left;
    text-align: center;
  }
  footer > div > div:last-of-type p {
    margin-bottom: 25px;
  }
  footer > div > div:last-of-type p span {
    display: inline-block;
    font-size: 15px;
    margin: 0 10px 0 5px;
  }
  footer > div > div:last-of-type ol {
    text-align: center;
  }
  footer > div > div:last-of-type ol li {
    display: inline-block;
  }
  footer > div > div:last-of-type ol li:not(:first-child) {
    margin-left: 2%;
  }
  footer > div > div:last-of-type ol li a {
    display: block;
  }
  footer > div > div:last-of-type ol li a span {
    display: block;
    font-size: 20px;
  }
  footer > div > div:last-of-type ol li:hover a span {
    color: #fff;
  }
  /* footer fin */
}
/* desktop fin */

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .mainArea {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .mainArea div {
    max-width: 728px;
    margin: 0 auto;
    text-align: center;
  }
  .mainArea div h2 {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  .mainArea div p {
    font-size: 24px;
    line-height: 45px;
    font-weight: 200;
  }
  .mainArea div p > a {
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.5);
    transition: color 0.5s;
  }
  .mainArea div p > a:hover {
    color: #fff;
  }
  .contentArea {
    max-width: 728px;
    margin: 0 auto;
    padding: 80px 0;
  }
  *[class*="Area"] h2,
  *[class*="Area"] h3 {
    color: #000;
    font-weight: 500;
  }
  *[class*="Area"] p,
  .visitArea ul li > span {
    font-size: 18px;
    font-weight: 200;
    line-height: 32px;
    color: #6c757d;
  }
  *[class*="Area"] .lead {
    font-size: 20px;
    font-weight: 300;
    line-height: 36px;
    color: #6c757d;
  }
  *[class*="Area"] h2,
  *[class*="Area"] .lead {
    padding: 0 15%;
  }
  /* desktop all using css */

  header {
    position: absolute;
    padding: 65px 5%;
    width: 100%;
    z-index: 100;
    box-sizing: border-box;
  }
  header h1 {
    line-height: 42px;
    box-sizing: border-box;
    padding-right: 20%;
  }
  header h1 a {
    display: inline-block;
    font-size: 30px;
    color: #fff;
    font-weight: bold;
  }
  header div {
    position: absolute;
    right: 5%;
    top: 38%;
    z-index: 1000;
  }
  header div span {
    font-size: 40px;
    cursor: pointer;
  }
  header div span.fa-bars {
    color: #fff;
  }
  header div span.fa-times {
    color: #000;
  }
  header nav {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #fff;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.8s;
  }
  header nav.on {
    opacity: 1;
    pointer-events: all;
  }
  header nav ul {
    width: 50%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    padding-top: 230px;
    overflow-y: hidden;
  }
  header nav ul li {
    display: block;
  }
  header nav ul li a {
    display: block;
    font-size: 40px;
    color: #000;
    line-height: 70px;
  }
  header nav ul li:hover a,
  header nav ul li.active a {
    color: #65c0ba;
  }
  /* header fin */

  footer {
    background-color: #1a1a1a;
  }
  footer .subtitle {
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 25px;
  }
  footer p,
  footer a {
    font-weight: 200;
    font-size: 18px;
    line-height: 32px;
    color: rgba(255, 255, 255, 0.7);
  }
  footer ul li {
    display: block;
    margin-bottom: 15px;
  }
  footer ul li:hover a {
    color: #fff;
  }
  footer > div:after {
    content: "";
    display: block;
    visibility: hidden;
    clear: both;
  }
  footer > div > div:not(:last-of-type) {
    float: left;
    width: 23.5%;
    margin-bottom: 90px;
  }
  footer > div > div:nth-of-type(2),
  footer > div > div:nth-of-type(3),
  footer > div > div:nth-of-type(4) {
    margin-left: 2%;
  }
  footer > div > div:nth-of-type(3) ul li p span {
    color: #fff;
    font-style: italic;
    display: block;
  }
  footer > div > div:nth-of-type(4) p {
    margin-bottom: 15px;
  }
  footer > div > div:nth-of-type(4) fieldset {
    border-bottom: solid rgba(255, 255, 255, 0.2);
  }
  footer > div > div:nth-of-type(4) fieldset:after {
    content: "";
    display: block;
    visibility: hidden;
    clear: both;
  }
  footer > div > div:nth-of-type(4) fieldset > * {
    display: float;
  }
  footer > div > div:nth-of-type(4) input[type="email"] {
    width: 75%;
    box-sizing: border-box;
    line-height: 50px;
    font-weight: 400;
    font-size: 16px;
    border: none;
    background-color: transparent;
    color: #fff;
    padding: 0 3%;
    outline: none;
  }
  footer > div > div:nth-of-type(4) input[type="email"]::placeholder {
    color: #6c757d;
    font-style: italic;
  }
  footer > div > div:nth-of-type(4) input[type="submit"] {
    width: 20%;
    text-indent: -9999px;
    border: none;
    padding: 2px 2px;
    background: transparent url("../images/btn_send1.png") no-repeat left center;
    line-height: 48px;
    box-sizing: border-box;
  }

  footer > div > div:last-of-type {
    padding-top: 45px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    clear: left;
    text-align: center;
  }
  footer > div > div:last-of-type p {
    margin-bottom: 25px;
  }
  footer > div > div:last-of-type p span {
    display: inline-block;
    font-size: 15px;
    margin: 0 10px 0 5px;
  }
  footer > div > div:last-of-type ol {
    text-align: center;
  }
  footer > div > div:last-of-type ol li {
    display: inline-block;
  }
  footer > div > div:last-of-type ol li:not(:first-child) {
    margin-left: 2%;
  }
  footer > div > div:last-of-type ol li a {
    display: block;
  }
  footer > div > div:last-of-type ol li a span {
    display: block;
    font-size: 20px;
  }
  footer > div > div:last-of-type ol li:hover a span {
    color: #fff;
  }
  /* footer fin */
}
/* tablet fin */

@media screen and (max-width: 767px) {
  .mainArea {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .mainArea div {
    margin: 0 auto;
    text-align: center;
    padding: 0 2.5%;
  }
  .mainArea div h2 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  .mainArea div p {
    font-size: 24px;
    line-height: 45px;
    font-weight: 200;
  }
  .mainArea div p > a {
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.5);
    transition: color 0.5s;
  }
  .mainArea div p > a:hover {
    color: #fff;
  }
  .contentArea {
    margin: 0 auto;
    padding: 70px 2.5%;
  }
  *[class*="Area"] h2,
  *[class*="Area"] h3 {
    color: #000;
    font-weight: 500;
  }
  *[class*="Area"] p,
  .visitArea ul li > span {
    font-size: 18px;
    font-weight: 200;
    line-height: 32px;
    color: #6c757d;
  }
  *[class*="Area"] .lead {
    font-size: 16px;
    font-weight: 300;
    line-height: 36px;
    color: #6c757d;
  }
  /* desktop all using css */

  header {
    position: absolute;
    padding: 65px 5%;
    width: 100%;
    z-index: 100;
    box-sizing: border-box;
  }
  header h1 {
    line-height: 42px;
    box-sizing: border-box;
    padding-right: 20%;
  }
  header h1 a {
    display: inline-block;
    font-size: 26px;
    color: #fff;
    font-weight: bold;
  }
  header div {
    position: absolute;
    right: 5%;
    top: 38%;
    z-index: 1000;
  }
  header div span {
    font-size: 32px;
    cursor: pointer;
  }
  header div span.fa-bars {
    color: #fff;
  }
  header div span.fa-times {
    color: #000;
  }
  header nav {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #fff;
    z-index: 100;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.8s;
  }
  header nav.on {
    opacity: 1;
    pointer-events: all;
  }
  header nav ul {
    width: 50%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    padding-top: 130px;
  }
  header nav ul li {
    display: block;
  }
  header nav ul li a {
    display: block;
    font-size: 30px;
    color: #000;
    line-height: 70px;
  }
  header nav ul li:hover a,
  header nav ul li.active a {
    color: #65c0ba;
  }
  /* header fin */

  footer {
    background-color: #1a1a1a;
  }
  footer .subtitle {
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
  }
  footer p,
  footer a {
    font-weight: 200;
    font-size: 16px;
    line-height: 32px;
    color: rgba(255, 255, 255, 0.7);
  }
  footer ul li {
    display: block;
    margin-bottom: 5px;
  }
  footer ul li:hover a {
    color: #fff;
  }
  footer > div > div {
    margin-bottom: 45px;
    text-align: center;
  }
  footer > div > div:nth-of-type(3) ul li p span {
    color: #fff;
    font-style: italic;
    display: block;
  }
  footer > div > div:nth-of-type(4) p {
    margin-bottom: 15px;
  }
  footer > div > div:nth-of-type(4) fieldset {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
  footer > div > div:nth-of-type(4) fieldset:after {
    content: "";
    display: block;
    visibility: hidden;
    clear: both;
  }
  footer > div > div:nth-of-type(4) fieldset > * {
    display: float;
  }
  footer > div > div:nth-of-type(4) input[type="email"] {
    width: 75%;
    box-sizing: border-box;
    line-height: 50px;
    font-weight: 400;
    font-size: 16px;
    border: none;
    background-color: transparent;
    color: #fff;
    padding: 0 3%;
    outline: none;
  }
  footer > div > div:nth-of-type(4) input[type="email"]::placeholder {
    color: #6c757d;
    font-style: italic;
  }
  footer > div > div:nth-of-type(4) input[type="submit"] {
    width: 20%;
    text-indent: -9999px;
    border: none;
    padding: 2px 2px;
    background: transparent url("../images/btn_send1.png") no-repeat center;
    line-height: 48px;
    box-sizing: border-box;
  }

  footer > div > div:last-of-type {
    padding-top: 45px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    clear: left;
    text-align: center;
  }
  footer > div > div:last-of-type p {
    margin-bottom: 25px;
  }
  footer > div > div:last-of-type p span {
    display: inline-block;
    font-size: 15px;
    margin: 0 10px 0 5px;
  }
  footer > div > div:last-of-type ol {
    text-align: center;
  }
  footer > div > div:last-of-type ol li {
    display: inline-block;
  }
  footer > div > div:last-of-type ol li:not(:first-child) {
    margin-left: 2%;
  }
  footer > div > div:last-of-type ol li a {
    display: block;
  }
  footer > div > div:last-of-type ol li a span {
    display: block;
    font-size: 20px;
  }
  footer > div > div:last-of-type ol li:hover a span {
    color: #fff;
  }
  /* footer fin */
}
/* mobile fin */
