@media screen and (min-width: 1280px) {
  .main_page5 {
    background-image: url('../assets/images/hero_3.jpg');
    position: relative;
    padding: 220px 0;
  }
  .main_page5 div > * {
    color: #fff;
  }
  .main_page5 div > p {
    margin-bottom: 65px;
  }
  /* mainArea fin */

  .newsArea:after {
    content: '';
    display: block;
    visibility: hidden;
    clear: both;
  }
  .newsArea > * {
    float: left;
  }
  .newsArea .leftContents {
    width: 68%;
  }
  .newsArea .rightContents {
    width: 28%;
    margin-left: 4%;
  }
  .newsArea .leftContents ul {
    margin-bottom: 20px;
  }
  .newsArea .leftContents ul:after {
    content: '';
    display: block;
    visibility: hidden;
    clear: both;
  }
  .newsArea .leftContents ul li {
    display: block;
    float: left;
    width: 48%;
    margin-bottom: 30px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  }
  .newsArea .leftContents ul li:nth-child(even) {
    margin-left: 2%;
  }
  .newsArea .leftContents ul li figure > a {
    display: block;
  }
  .newsArea .leftContents ul li figure > a img {
    width: 100%;
  }
  .newsArea .leftContents ul li figure figcaption {
    text-align: left;
  }
  .newsArea .leftContents ul li figure figcaption p:first-of-type {
    color: #ced4da;
    margin-bottom: 10px;
  }
  .newsArea .leftContents ul li figure figcaption h3 {
    margin-bottom: 20px;
  }
  .newsArea .leftContents ul li figure figcaption h3 a {
    display: block;
    font-size: 26px;
    color: #000;
    transition: color 0.5s;
  }
  .newsArea .leftContents ul li figure figcaption h3 a:hover {
    color: #65c0ba;
  }
  .newsArea .leftContents ul li figure figcaption {
    padding: 25px 10%;
  }
  .newsArea .leftContents ol li {
    display: inline-block;
  }
  .newsArea .leftContents ol li a {
    display: block;
    text-align: center;
    color: #6c757d;
    transition: 0.5s;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 0;
    line-height: 50px;
    font-size: 20px;
  }
  .newsArea .leftContents ol li.active a,
  .newsArea .leftContents ol li a:hover {
    background: #65c0ba;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.2);
    color: #fff;
  }
  /* leftContents fin */

  .newsArea .rightContents > * {
    margin-bottom: 30px;
    padding: 30px 9.5%;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  }
  .newsArea .rightContents fieldset input[type='search'] {
    padding-left: 40px;
    height: 50px;
    border: 2px solid #dee2e6;
    color: #495057;
    font-size: 16px;
    line-height: 24px;
    background: url('../assets/images/ico_search.png') no-repeat 7% center;
  }
  .newsArea .rightContents div h3 {
    font-size: 18px;
    margin-bottom: 30px;
    font-weight: 500;
    line-height: 22px;
  }
  .newsArea .rightContents div:first-of-type ul li {
    display: block;
    margin-bottom: 20px;
  }
  .newsArea .rightContents div:first-of-type ul li figure:after {
    content: '';
    display: block;
    visibility: hidden;
    clear: both;
  }
  .newsArea .rightContents div:first-of-type ul li figure > * {
    float: left;
    width: 49%;
  }
  .newsArea .rightContents div:first-of-type ul li figure a {
    display: block;
  }
  .newsArea .rightContents div:first-of-type ul li figure a img {
    width: 100%;
  }
  .newsArea .rightContents div:first-of-type ul li figure figcaption {
    margin-left: 2%;
    cursor: pointer;
  }
  .newsArea .rightContents div:first-of-type ul li figure figcaption p {
    font-size: 13px;
    color: #adb5bd;
    letter-spacing: 0.5px;
    line-height: 23px;
    font-weight: 200;
  }
  .newsArea .rightContents div:first-of-type ul li figure figcaption h4 {
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
  }
  .newsArea .rightContents div:last-of-type ul li {
    display: block;
    border-bottom: 1px solid #e9ecef;
    padding: 10px 0;
  }
  .newsArea .rightContents div:last-of-type ul li a {
    display: block;
    color: #65c0ba;
    font-weight: 200;
    font-size: 18px;
    line-height: 32px;
    position: relative;
    transition: color 0.3s;
  }
  .newsArea .rightContents div:last-of-type ul li a span {
    display: inline-block;
    text-align: right;
    position: absolute;
    right: 0;
    color: #565d63;
    transition: color 0.3s;
  }
  .newsArea .rightContents div:last-of-type ul li a:hover {
    color: #3f9a94;
  }
  .newsArea .rightContents div:last-of-type ul li a:hover span {
    color: #191a1b;
  }

  /* rightContents fin */
}
/* desktop fin */

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .main_page5 {
    background-image: url('../assets/images/hero_3.jpg');
    position: relative;
    padding: 220px 0;
  }
  .main_page5 div > * {
    color: #fff;
  }
  .main_page5 div > p {
    margin-bottom: 65px;
  }
  /* mainArea fin */

  .newsArea:after {
    content: '';
    display: block;
    visibility: hidden;
    clear: both;
  }
  .newsArea > * {
    float: left;
  }
  .newsArea .leftContents {
    width: 68%;
  }
  .newsArea .rightContents {
    width: 30%;
    margin-left: 2%;
  }
  .newsArea .leftContents ul {
    margin-bottom: 20px;
  }
  .newsArea .leftContents ul:after {
    content: '';
    display: block;
    visibility: hidden;
    clear: both;
  }
  .newsArea .leftContents ul li {
    display: block;
    float: left;
    width: 48%;
    margin-bottom: 30px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  }
  .newsArea .leftContents ul li:nth-child(even) {
    margin-left: 2%;
  }
  .newsArea .leftContents ul li figure > a {
    display: block;
  }
  .newsArea .leftContents ul li figure > a img {
    width: 100%;
  }
  .newsArea .leftContents ul li figure figcaption {
    text-align: left;
  }
  .newsArea .leftContents ul li figure figcaption p:first-of-type {
    color: #ced4da;
    margin-bottom: 10px;
  }
  .newsArea .leftContents ul li figure figcaption h3 {
    margin-bottom: 20px;
  }
  .newsArea .leftContents ul li figure figcaption h3 a {
    display: block;
    font-size: 22px;
    color: #000;
    transition: color 0.5s;
  }
  .newsArea .leftContents ul li figure figcaption h3 a:hover {
    color: #65c0ba;
  }
  .newsArea .leftContents ul li figure figcaption {
    padding: 10px 2.5%;
  }
  .newsArea .leftContents ol li {
    display: inline-block;
  }
  .newsArea .leftContents ol li a {
    display: block;
    text-align: center;
    color: #6c757d;
    transition: 0.5s;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 0;
    line-height: 50px;
    font-size: 20px;
  }
  .newsArea .leftContents ol li.active a,
  .newsArea .leftContents ol li a:hover {
    background: #65c0ba;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.2);
    color: #fff;
  }
  /* leftContents fin */

  .newsArea .rightContents > * {
    padding: 20px 3%;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  }
  .newsArea .rightContents fieldset input[type='search'] {
    padding-left: 40px;
    height: 50px;
    border: 2px solid #dee2e6;
    color: #495057;
    font-size: 16px;
    line-height: 24px;
    background: url('../assets/images/ico_search.png') no-repeat 7% center;
  }
  .newsArea .rightContents div h3 {
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: 500;
    line-height: 22px;
  }
  .newsArea .rightContents div:first-of-type ul li {
    display: block;
    margin-bottom: 20px;
  }
  .newsArea .rightContents div:first-of-type ul li:nth-child(n + 3) {
    display: none;
  }
  .newsArea .rightContents div:first-of-type ul li figure a {
    display: block;
  }
  .newsArea .rightContents div:first-of-type ul li figure a img {
    width: 100%;
  }
  .newsArea .rightContents div:first-of-type ul li figure figcaption {
    margin-left: 2%;
    cursor: pointer;
  }
  .newsArea .rightContents div:first-of-type ul li figure figcaption p {
    font-size: 13px;
    color: #adb5bd;
    letter-spacing: 0.5px;
    line-height: 23px;
    font-weight: 200;
  }
  .newsArea .rightContents div:first-of-type ul li figure figcaption h4 {
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
  }
  .newsArea .rightContents div:last-of-type ul li {
    display: block;
    border-bottom: 1px solid #e9ecef;
    padding: 10px 0;
  }
  .newsArea .rightContents div:last-of-type ul li a {
    display: block;
    color: #65c0ba;
    font-weight: 200;
    font-size: 18px;
    line-height: 32px;
    position: relative;
    transition: color 0.3s;
  }
  .newsArea .rightContents div:last-of-type ul li a span {
    display: inline-block;
    text-align: right;
    position: absolute;
    right: 0;
    color: #565d63;
    transition: color 0.3s;
  }
  .newsArea .rightContents div:last-of-type ul li a:hover {
    color: #3f9a94;
  }
  .newsArea .rightContents div:last-of-type ul li a:hover span {
    color: #191a1b;
  }

  /* rightContents fin */
}
/* tablet fin */

@media screen and (max-width: 767px) {
  .main_page5 {
    background-image: url('../assets/images/hero_3.jpg');
    position: relative;
    padding: 180px 0;
  }
  .main_page5 div > * {
    color: #fff;
  }
  .main_page5 div > p {
    margin-bottom: 65px;
  }
  /* mainArea fin */

  .newsArea .leftContents {
    margin-bottom: 35px;
  }
  .newsArea .leftContents ul {
    margin-bottom: 20px;
  }
  .newsArea .leftContents ul li {
    margin-bottom: 30px;
    display: block;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  }
  .newsArea .leftContents ul li figure > a {
    display: block;
  }
  .newsArea .leftContents ul li figure > a img {
    width: 100%;
  }
  .newsArea .leftContents ul li figure figcaption {
    text-align: left;
  }
  .newsArea .leftContents ul li figure figcaption p:first-of-type {
    color: #ced4da;
    margin-bottom: 10px;
  }
  .newsArea .leftContents ul li figure figcaption h3 {
    margin-bottom: 20px;
  }
  .newsArea .leftContents ul li figure figcaption h3 a {
    display: block;
    font-size: 22px;
    color: #000;
    transition: color 0.5s;
  }
  .newsArea .leftContents ul li figure figcaption h3 a:hover {
    color: #65c0ba;
  }
  .newsArea .leftContents ul li figure figcaption {
    padding: 10px 2.5%;
  }
  .newsArea .leftContents ol li {
    display: inline-block;
  }
  .newsArea .leftContents ol li a {
    display: block;
    text-align: center;
    color: #6c757d;
    transition: 0.5s;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 0;
    line-height: 50px;
    font-size: 20px;
  }
  .newsArea .leftContents ol li.active a,
  .newsArea .leftContents ol li a:hover {
    background: #65c0ba;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.2);
    color: #fff;
  }
  /* leftContents fin */

  .newsArea .rightContents > * {
    padding: 20px 3%;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  }
  .newsArea .rightContents fieldset input[type='search'] {
    padding-left: 12%;
    height: 50px;
    width: 90%;
    border: 2px solid #dee2e6;
    color: #495057;
    font-size: 16px;
    line-height: 24px;
    background: url('../assets/images/ico_search.png') no-repeat 7% center;
  }
  .newsArea .rightContents div h3 {
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: 500;
    line-height: 22px;
  }
  .newsArea .rightContents div:first-of-type ul li {
    display: block;
    margin-bottom: 20px;
  }
  .newsArea .rightContents div:first-of-type ul li:nth-child(n + 3) {
    display: none;
  }
  .newsArea .rightContents div:first-of-type ul li figure a {
    display: block;
  }
  .newsArea .rightContents div:first-of-type ul li figure a img {
    width: 100%;
  }
  .newsArea .rightContents div:first-of-type ul li figure figcaption {
    margin-left: 2%;
    cursor: pointer;
  }
  .newsArea .rightContents div:first-of-type ul li figure figcaption p {
    font-size: 13px;
    color: #adb5bd;
    letter-spacing: 0.5px;
    line-height: 23px;
    font-weight: 200;
  }
  .newsArea .rightContents div:first-of-type ul li figure figcaption h4 {
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
  }
  .newsArea .rightContents div:last-of-type ul li {
    display: block;
    border-bottom: 1px solid #e9ecef;
    padding: 10px 0;
  }
  .newsArea .rightContents div:last-of-type ul li a {
    display: block;
    color: #65c0ba;
    font-weight: 200;
    font-size: 18px;
    line-height: 32px;
    position: relative;
    transition: color 0.3s;
  }
  .newsArea .rightContents div:last-of-type ul li a span {
    display: inline-block;
    text-align: right;
    position: absolute;
    right: 0;
    color: #565d63;
    transition: color 0.3s;
  }
  .newsArea .rightContents div:last-of-type ul li a:hover {
    color: #3f9a94;
  }
  .newsArea .rightContents div:last-of-type ul li a:hover span {
    color: #191a1b;
  }

  /* rightContents fin */
}
/* mobile fin */
